.tadam {
    position: ;

    top: ;
    right: ;
    bottom: ;
    left: ;

    z-index: ;

    visibility: ;
    opacity: ;
}

/* <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> */

/* <link rel="stylesheet" href="" media="(min-width: 100px) and (max-width: 1000px)"> */

@import url(xxx) (max-width: 1000px);

@media (max-width: 1000px) {

}